<div class="row">
  <div class="col-7 mx-auto">

    <div>
      <h4>
        <%= current_customer.family_name + current_customer.first_name %> さんの会員情報編集
      </h4>                            
    </div>
    <div>                         
    <%= render 'layouts/errors', obj: @customer %>
    <%= form_with model: @customer, url:customer_update_path, local: true, method: :put do |f| %>

    <div class="row">        
    <div>
        <%= f.label  "氏名"                                                                                                                                                                                                                                        %>
        <div class="col-2">
        <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
        </div>
      </div>
      </div>

    <div class="row">
    <div class="col-7">
    <div class="form-group">フリガナ
        <%= f.label  "(セイ)" %>
        <%= f.text_field :kana_sei, autofocus: true, autocomplete: "kana_sei" %>
        <%= f.label  "(メイ)" %>
        <%= f.text_field :kana_mei, autofocus: true, autocomplete: "kana_mei", class: "form-control" %>
      </div>
      </div>
      </div>

     <div class="row">
    <div class="col-7">
    <div class="form-group">

        <%= f.label "郵便番号" %>
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control" %>
      </div>
      </div>
      </div>

    <div class="row">
    <div class="col-7">
    <div class="form-group">

        <%= f.label "住所" %>
        <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control" %>
      </div>
      </div>
      </div>


    <div class="row">
    <div class="col-7">
    <div class="form-group">

        <%= f.label "電話番号" %>
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
      </div>
      </div>
      </div>

    <div class="row">
    <div class="col-7">
    <div class="form-group">

        <%= f.label "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      </div>
      </div>

    <div class="row">
    <div class="col-7">
    <div class="form-group">

        <%= f.label "会員ステータス" %>
          <!--ラジオボタンで選択（false：有効）-->
          <%= f.radio_button :is_exist, :false %>
          <%= f.label :is_exist, '有効', value: :false %>
          <!--ラジオボタンで選択（true：退会）-->
          <%= f.radio_button :is_exist, :true %>
          <%= f.label :is_exist, '退会', value: :true %>
      </div>
      </div>
      </div>


    <div class="row">
      <div class="col-7">
      <div class="field">
        <%= f.submit  "変更を保存", class: "btn btn-success" %>
        <%= link_to "退会する", customers_change_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>


  <% end %>
  </div>
  </div>
</div>

