<div class="row justify-content-center">
  <div class="col-9 my-3">
    <h2 class="col-xl-3 col-lg-4 col-sm-5 mt-4 text-center">マイページ</h2>
  </div>
  <div class="col-10 m-3">

    <div class="row m-2">
      <h5 class="col-xl-2 col-md-3 col-5 font-weight-bold d-flex justify-content-center align-items-center">登録情報</h5>
      <div class="col-1">
        <%= link_to "編集する", edit_mypage_path, class: "btn" %>
      </div>
    </div>

  <div class="row m-4">
    <div class="table-responsive">
    <table class="col-10 table table-bordered border-dark">
      <tbody>
        <tr>
          <td class="col-2">氏名</td>
          <td>
            <%= current_customer.family_name %>
            <%= current_customer.first_name %>
          </td>
        </tr>
        <tr>
          <td>カナ</td>
          <td>
            <%= current_customer.kana_sei %>
            <%= current_customer.kana_mei %>
          </td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td>
            <%= current_customer.postal_code %>
          </td>
        </tr>
        <tr>
          <td>住所</td>
          <td>
            <%= current_customer.address %>
          </td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td>
            <%= current_customer.phone_number %>
          </td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td>
            <%= current_customer.email %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <div class="row mx-2 mb-3">
    <h5 class="col-xl-2 col-md-3 col-5 font-weight-bold d-flex justify-content-center align-items-center">配送先</h5>
    <div class="col-1 clo-lg-3">
      <%= link_to "一覧を見る",  addresses_path, class: "btn" %>
    </div>
  </div>

  <div class="row mx-2">
    <h5 class="col-xl-2 col-md-3 col-5 font-weight-bold d-flex justify-content-center align-items-center">注文履歴</h5>
    <div class="col-1">
      <%= link_to "一覧を見る", orders_path, class: "btn" %>
    </div>
   </div>


  </div>
</div>