<div class="row mt-5">
  <div class="col-9 mx-auto">

    <h4 class="mt-5">新規会員登録</h4></br>

    <%= render "customers/shared/error_messages", resource: resource %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="form-group row">
      <div class="col-md-3">
        <%= f.label  "氏名（姓・名）", class: "col-from-label" %>
      </div>
      <div class="col-md-7">
        <div style="display:inline-flex">
          <div>
            <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name", class: "form-control", placeholder: "令和" %>
          </div>
          <div class="mx-3">
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", placeholder: "道子" %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label  "フリガナ（セイ・メイ）", class: "form-group-label" %>
      </div>
      <div class="col-md-7">
        <div style="display:inline-flex">
          <div>
            <%= f.text_field :kana_sei, autofocus: true, autocomplete: "kana_sei", class: "form-control", placeholder: "レイワ" %>
          </div>
          <div class="mx-3">
            <%= f.text_field :kana_mei, autofocus: true, autocomplete: "kana_mei", class: "form-control", placeholder: "ミチコ" %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label "メールアドレス", class: "form-group-label" %>
      </div>
      <div class="col-md-7">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "sample@example@gmail.com" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label "郵便番号(ハイフンなし)", class: "form-group-label" %>
      </div>
      <div class="col-md-7">
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control", placeholder: "0000000" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label "住所", class: "form-group-label" %>
      </div>
      <div class="col-md-7">
        <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label "電話番号(ハイフンなし)", class: "form-group-label" %>
      </div>
      <div class="col-md-7">
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control", placeholder: "0000000000" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label "パスワード", class: "form-group-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </div>
      <div class="col-md-7">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "６文字以上で入力してください" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label "パスワード（確認用）", class: "form-group-label" %>
      </div>
      <div class="col-md-7">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "６文字以上で入力してください" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-10 text-right">
      <%= f.submit  "新規登録", class: "btn" %>
      </div>
    </div>
    <% end %>

    <div class="field">
      <h4>すでに登録済みの方</h4>
    </div>

    <div class="field">
      <%= link_to "こちら", new_session_path(resource_name) %>　からログインしてください
    </div>


    </div>
  </div>