<div class="row mt-5">
  <div class="col-md- mx-auto">

    <h4 class="mt-5">新規会員登録</h4></br>

    <%= render "customers/shared/error_messages", resource: resource %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="form-group row">
      <div class="col-md-3">
        <%= f.label  "氏名", class: "col-from-label" %>
      </div>
      <div class="col-md-7">
        <div style="display:inline-flex">
          <div>
            <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name", class: "form-control" %>
          </div>
          <div class="mx-3">
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label  "フリガナ", class: "form-group-label" %>
      </div>
      <div class="col-md-7">
        <div style="display:inline-flex">
          <div>
            <%= f.text_field :kana_sei, autofocus: true, autocomplete: "kana_sei", class: "form-control" %>
          </div>
          <div class="mx-3">
           <%= f.text_field :kana_mei, autofocus: true, autocomplete: "kana_mei", class: "form-control" %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label "メールアドレス", class: "form-group-label" %>
      </div>
      <div class="col-md-7">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label "郵便番号", class: "form-group-label" %>
      </div>
      <div class="col-md-7">
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label "住所", class: "form-group-label" %>
      </div>
      <div class="col-md-7">
        <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label "電話番号", class: "form-group-label" %>
      </div>
      <div class="col-md-7">
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label "パスワード", class: "form-group-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </div>
      <div class="col-md-7">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 d-flex align-items-center">
        <%= f.label "パスワード（確認用）", class: "form-group-label" %>
      </div>
      <div class="col-md-7">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-10 text-right">
      <%= f.submit  "新規登録", class: "btn" %>
      </div>
    </div>
    <% end %>

    <div class="field">
      <h4>すでに登録済みの方</h4>
    </div>

    <div class="field">
      <%= link_to "こちら", new_session_path(resource_name) %>　からログインしてください
    </div>


    </div>
  </div>