<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>商品一覧</h2>
      <%= link_to "新規追加", new_admin_item_path %>
      <table>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= item.name %></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <td><%= item.is_status ? '販売中' : '販売停止中' %></td>
            </tr>
          <% end %>
          <%= paginate @items %>
        </tbody>

      </table>
    </div>
  </div>
</div>