
<div class="row justify-content-center">
  <div class="col-10 mt-3">
    <h2>商品詳細</h2>
    <div class="row justify-content-center d-flex">
      <div class="col-4">
        <%= attachment_image_tag @item, :image, size: "250x250"  %>
      </div>
      <table class="col-7">
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <td>税込価格</br>（税抜価格)</td>
          <td>￥<%= @item.price + @item.price * 0.1 %></br>(￥<%= @item.price %>)</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td><%= @item.is_status ? '販売中' : '販売停止中' %></td>
        </tr>
      </table>
      <%= link_to "編集する", edit_admin_item_path(@item), class:"btn mt-2 ml-5" %>
    </div>
  </div>
</div>