
  <div class="row mt-5">
    <div class="col-xl-3 col-lg-5 col-md-6 col-12 mt-4 text-center alert alert-secondary">

      <h4>
        <%= @customer.family_name %>&nbsp;<%= @customer.first_name %> さんの会員情報編集
      </h4></br>

      <!--自動推測じゃなく確実にshowアクションに行くようにするには、modelではなく、urlを指定-->
      <%= form_with model: @customer, url: admin_customer_path, local:true do |f| %>

      <div class="field">氏名&emsp;&emsp;
        <%= f.label  "(性)" %>
        <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %>&emsp;&emsp;
         <%= f.label  "(名)" %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
      </div>

      <div class="field">フリガナ&emsp;&emsp;
        <%= f.label  "(セイ)" %>
        <%= f.text_field :kana_sei, autofocus: true, autocomplete: "kana_sei" %>&emsp;&emsp;
        <%= f.label  "(メイ)" %>
        <%= f.text_field :kana_mei, autofocus: true, autocomplete: "kana_mei" %>
      </div>

      <div class="field">
        <%= f.label "郵便番号" %>&emsp;&emsp;
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
      </div>

      <div class="field">
        <%= f.label "住所" %>&emsp;&emsp;
        <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
      </div>

      <div class="field">
        <%= f.label "電話番号" %>&emsp;&emsp;
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
      </div>

      <div class="field">
        <%= f.label "メールアドレス" %>&emsp;&emsp;
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="status">
        <%= f.label "会員ステータス" %>&emsp;&emsp;
          <!--ラジオボタンで選択（false：有効）-->
          <%= f.radio_button :is_exist, false %>
          <%= f.label :is_exist, '有効', value: false %>&nbsp;&nbsp;
          <!--ラジオボタンで選択（true：退会）-->
          <%= f.radio_button :is_exist, true %>
          <%= f.label :is_exist, '退会', value: true %>
      </div>

      <div class="field">
        <%= f.submit  "変更を保存", class: "btn btn-success" %>
      </div></br>
      <% end %>


    </div>
  </div>

