<div class="container">
  <div class="row">
    <h5 class="col-2 mt-3 text-center offset-1 mb-4">配送先編集</h5>
    <div class="col-12">
    <%= form_with model: @address, local: true do |f| %>
      <div class="form-group row mb-3">
        <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-sm-3 col-form-label" %>
        <%= f.text_field :postal_code, class: "col-3 form-control" %>
      </div>

      <div class="form-group row mb-3">
        <%= f.label :address, "住所", class: "col-sm-3 col-form-label" %>
        <%= f.text_field :address, class: "col-6 form-control" %>
      </div>

      <div class="form-group row mb-3">
        <%= f.label :name, "宛名", class: "col-sm-3 col-form-label" %>
        <%= f.text_field :name, class: "col-3 form-control" %>
        <%= f.submit '変更内容を保存', class: 'col-2 offset-3 btn' %>
      </div>
    <% end %>
    </div>
  </div>
</div>