
  <h1>ショッピングカート</h1>
  <div class="d-flex justify-content-end">

    <!--追加で記述が必要-->
    <%= link_to 'カートを空にする',cart_items_destroy_all_path, method: :delete, class: "btn" %>
  </div>

  <% if @cart_items.blank? %>
   <p>カートは空です</p>
  <% else %>
  <!--カートテーブル-->
    <div class="d-flex justify-content-center">
      <div class="row">
        <table class="table table-bordered" style="width:1000px;">
          <thead>
              <tr>
                <th>商品名</th>
                <th>単価（税込)</th>
                <th>数量</th>
                <th>小計</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <% @cart_items.each do |cart_item| %>
                <td><%= @cart_item.item.name %></td>
                <td><%= @cart_item.item.price %></td>
                <!--以下修正する-->
                <!--量-->
                <td><%= form_with model: @cart_item, local: true do |f| %>
                    <%= f.number_field :count, value: cart_item.count %>
                    <%= f.submit "変更", class: "glyphicon glyphicon-pencil btn btn-success" %>
                </td>
                <td><%= cart_item.total_price %></td>
                <td><%= link_to '削除する',cart_item, method: :delete, class: "btn btn-danger" %></td>
                <% end %>
              </tr>
          </tbody>
        </table>
       </div>
     </div>
  <% end %>
  <% end %>
</div>