
  <h1>ショッピングカート</h1>
  <div class="d-flex justify-content-end">
    <%= link_to 'カートをカラにする',class: "btn btn-danger" %>
  </div>
  <!--カートテーブル-->
  <div class="d-flex justify-content-center">
    <div class="row">
      <table class="table table-bordered" style="width:1000px;">
        <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <% @cart_items.each do |cart_item| %>
              <td><%= @cart_item.item.name %></td>
              <td><%= @cart_item.item.price %></td>
              <!--以下修正する-->
              <!--量-->
              <td><%= cart_item.count %><%= link_to '変更', class: "glyphicon glyphicon-pencil btn btn-success" %></td>
              <td><%= cart_item.total_price %></td>
              <td><%= link_to '削除する',class: "btn btn-danger" %></td>
              <% end %>
            </tr>
        </tbody>
      </table>
     </div>
  </div>
</div>