<div class="container">
  <div class="row login_box">
    <div class="col-md-12 col-xs-12 login_control">

      <div align="center"><h4>ログイン</h4>
      <p>会員の方はこちらからログイン</p>
      </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div align="center">
          <%= f.label "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div align="center">
          <%= f.label "パスワード" %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <% if devise_mapping.rememberable? %>
        <div align="center">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>

        <div align="center">
          <%= f.submit "LOGIN", class: "btn btn-orange" %>
        </div>
        <% end %>

      <div align="center">
      　<p>会員登録がお済みで無い方</p>
      </div>

        <div align="center">
          <%= link_to "こちら", new_registration_path(resource_name) %>  から新規登録を行ってください。<br />
        </div>

    </div>
  </div>
</div>

