  <div class="row">
    <div class="col">
	    <h1>注文情報入力</h1>
      <%= form_with(model: @order, local: true, url: public_orders_confirm_path, method: :post) do |f| %>
        <h2>支払い方法</h2>
    <!-- ラジオボタンで支払方法の記述　enum payment_method: [['クレジットカード',0],['銀行振込',1]] -->
         <%= f.label :payment_method, 'クレジットカード' %>
         <%= f.radio_button :payment_method, :0 %>
         <%= f.label :payment_method, '銀行振込' %>
         <%= f.radio_button :payment_method, :1 %>
        
        <h2>お届け先</h2>
           <%= f.label :address_type, 'ご自身の住所',value: 0 %>
           <%= f.radio_button :address_type, '0' %>
           
           <%= f.label :address_type, '登録済住所からの選択',value: 1 %>
           <%= f.radio_button :address_type, '1' %>
           <!--プルダウンメニュー登録済みの住所を選択する-->
            <%= f.collection_select :address_id, @addresses, :id, :address %>
           
           
           <%= f.label :address_type, '新しいお届け先',value: 2 %>
           <%= f.radio_button :address_type, '2' %>
           
            <%= f.label :postal_code, "郵便番号(ハイフンなし）"%>
            <%= f.text_field :postal_code %>
            <%= f.label :address, "住所"%>
            <%= f.text_field :address %>
            <%= f.label :name, "宛名" %>
            <%= f.text_field :name %>
            
           <%= f.submit "確認画面に進む", class: "btn" %>
      <% end %>
    </div>
  </div>