<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="conteiner-fluid">
      <div class="row d-flex">
        <div class="col-3">
          <%= link_to root_path do %>
          <img id="logo" src="/assets/logo.png" alt="ながのケーキ" class="ml-5 img-fluid">
          <% end %>
        </div>

        <ul class="navigation col-9 d-flex justify-content-center align-items-end">
          <% if customer_signed_in? %>
            <li class="mb-4"><%= link_to "about", homes_about_path, class:"btn nav-btn" %></li>
            <li class="mb-4 ml-3"><%= link_to "Items", items_path, class:"btn nav-btn" %></li>
            <li class="mb-4 ml-3"><%= link_to "Sign up", new_customer_registration_path, class:"btn nav-btn" %></li>
            <li class="mb-4 ml-3"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn nav-btn" %></li>
          <% elsif admin_signed_in? %>
            <li class="mb-4"><%= link_to "商品一覧", homes_about_path, class:"btn nav-btn" %></li>
            <li class="mb-4 ml-3"><%= link_to "会員一覧", items_path, class:"btn nav-btn" %></li>
            <li class="mb-4 ml-3"><%= link_to "注文履歴一覧", new_customer_registration_path, class:"btn nav-btn" %></li>
            <li class="mb-4 ml-3"><%= link_to "ジャンル一覧", destroy_customer_session_path, class:"btn nav-btn" %></li>
            <li class="mb-4 ml-3"><%= link_to "ログアウト", destroy_customer_session_path, class:"btn nav-btn" %></li>
          <% else %>
            <li class="mb-4"><%= link_to "about", homes_about_path, class:"btn nav-btn" %></li>
            <li class="mb-4 ml-3"><%= link_to "Items", items_path, class:"btn nav-btn" %></li>
            <li class="mb-4 ml-3"><%= link_to "Sign up", new_customer_registration_path, class:"btn nav-btn" %></li>
            <li class="mb-4 ml-3"><%= link_to "Log in", new_customer_session_path, class:"btn nav-btn" %></li>
          <% end %>
        </ul>
      </div>
    </header>

    <main class="container-fluid">
    <%= yield %>
    </main>

    <footer>
      <div class="adress">
        長野県XX市XX町x-xx</br>
        Nagano Cake 本店
      </div>
      <div class="copyright">
       Copyright © Nagano Cake inc. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
